.mart-10{
	margin-top:10px;
}
.mart-20{
	margin-top:20px;
}
.pos-ab{
	position:absolute;
	left:0;
	top:0;
	padding:12px;
}
.pos-ab i{
	font-size:30px;
}
.help-class h2{
	padding-left:50px;
}
.help-class .tit-fold{
	font-size:16px;
}
.fon-s14{
	font-size:14px !important;
}